
<div id= "to-do"> Today's to-do list</div>
      
    <div class= "list">
       <div id= "date">June 4 2017 </div>
      
        <ol>
            <li> 
                <a href=/todo/show/1>
                   <div class= hw> Complete Math Homework</div>
                   <div class='short-desc'>Problems 7-13</div>
                </a>
            
            </li>
             <li> <a href=/todo/show/2>
               <div class= hw> Complete History Homework</div>
               <div class='short-desc'> Watch 'Swing Boys'</div>
            </a>
            
            </li>
             <li>
                  <a href=/todo/show/3>
               <div class= hw> Mandarin Homework</div>
               <div class= 'short-desc'>Study for Finals</div>
                </a>
            </li>
        <li> 
                <a href=/todo/show/4>
                   <div class= hw> Complete English Homework</div>
                   <div class='short-desc'>Read 1984</div>
                </a>
            
            </li>
             <li> <a href=/todo/show/5>
               <div class= hw> Complete Digital Photography Homework</div>
               <div class='short-desc'> Take Landscape Photographs</div>
            </a>
            
            </li>
             <li>
                  <a href=/todo/show/6>
               <div class= hw>Complete Japanese Homework</div>
               <div class= 'short-desc'>Prantice Kanji</div>                </a>
            </li>
            <li> 
                <a href=/todo/show/7>
                   <div class= hw> Complete Chem Homework</div>
                   <div class='short-desc'>Work on Mars Project</div>
                </a>
            
            </li>
             <li> <a href=/todo/show/8>
               <div class= hw> Complete Life Homework</div>
               <div class='short-desc'> Find the meaning of Life</div>
            </a>
            
            </li>
             <li>
                  <a href=/todo/show/9>
               <div class= hw> Catch up on the missing reading </div>
               <div class= 'short-desc'>Read a crap ton of books</div>
                </a>
            </li>
        </ol>
    </div>
        <form action="" method="post">
            <input type="text" placeholder="Place to-do here" required class="box"/>
            <input type="text" placeholder= "Approxiamte time estimate" required class="box"/>
            <input type="text" placeholder="Date Due" Required class="box"/>
            <div id= "submit-button"><input type="submit" value="Click to Submit form"/> 
            </div>
        </form>
     
    <script type="text/javascript" src="jv.js"></script>